{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}Solar Dryer Design{% endblock %}

{% block content %}
  <h2>Generate Solar Dryer Design Specifications</h2>
  <form class="form-vertical" method="post" action="{% url 'area:solar_dryer' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-info" name="generate-dryer">Design Dryer</button>
    </div>
    <br/>
  </form>
  {% if solutions.mass %}
    <div class="container">
      {% if solutions.mass < 200 %}
        <div class="row">
          <div class="col align-self-centre">
            <strong>Below Small Dryers are recommended for drying {{ solutions.crop.name }} of {{ solutions.mass }} kg
              at {{ solutions.location.address }}:</strong>
          </div>
          <div class="w-100"><br/></div>
          {% for dryer in solutions.dryers %}
            {% if dryer.size == 'Small' %}
              {% if dryer.version == 'Simple' %}
                <div class="col align-self-start">
                  <p class="lead"><strong>{{ dryer.size }} {{ dryer.version }} Dryer</strong></p>
                  <p>Area of Drying Chamber: {{ solutions.area|floatformat:"-3" }} square meters (m2)</p>
                  <p>Area of Drying Trays: {{ solutions.surface_area|floatformat:"-3" }} square meters (m2)</p>
                  <p>Area of air outlet: {{ solutions.chimney_area|floatformat:"-3" }} square meters (m2)</p>
                  <figure class="figure">
                    <img src="{{ dryer.diagram }}" class="figure-img img-fluid rounded" alt="">
                    <figcaption class="figure-caption"><p class="h7">{{ dryer.size }} {{ dryer.version }} Dryer<p></figcaption>
                  </figure>
                </div>
              {% endif %}
              {% if dryer.version == 'Improved' %}
                <div class="col align-self-start">
                  <p class="lead"><strong>{{ dryer.size }} {{ dryer.version }} Dryer</strong></p>
                  <p>Area of Drying Chamber: {{ solutions.improved_area|floatformat:"-3" }} square meters (m2)</p>
                  <p>Area of collector: {{ solutions.improved_area|floatformat:"-3" }} square meters (m2)</p>
                  <p>Area of Drying Trays: {{ solutions.surface_area|floatformat:"-3" }} square meters (m2)</p>
                  <p>Area of air outlet: {{ solutions.chimney_area|floatformat:"-3" }} square meters (m2)</p>
                  <figure class="figure">
                    <img src="{{ dryer.diagram }}" class="figure-img img-fluid rounded" alt="">
                    <figcaption class="figure-caption"><p class="h7">{{ dryer.size }} {{ dryer.version }} Dryer<p></figcaption>
                  </figure>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      {% if solutions.mass >= 200 %}
        <div class="row">
          <div class="col align-self-centre">
            <strong>Below Large Dryers are recommended for drying {{ solutions.crop.name }} of {{ solutions.mass }} kg at
              {{ solutions.location.address }}:</strong>
          </div>
          <div class="w-100"><br/></div>
          {% for dryer in solutions.dryers %}
            {% if dryer.size == 'Large' %}
              {% if dryer.version == 'Simple' %}
                <div class="col align-self-start">
                  <p class="lead"><strong>{{ dryer.size }} {{ dryer.version }} Dryer</strong></p>
                  <p>Area of Drying Chamber: {{ solutions.area|floatformat:"-3" }} square meters (m2)</p>
                  <p>Area of Drying Trays: {{ solutions.surface_area|floatformat:"-3"}} square meters (m2)</p>
                  <p>Area of air outlet: {{ solutions.chimney_area|floatformat:"-3"}} square meters (m2)</p>
                  <p>Number of Chimneys: {{ solutions.chimneys }} chimney(s)</p>
                  <figure class="figure">
                    <img src="{{ dryer.diagram }}" class="figure-img img-fluid rounded" alt="">
                    <figcaption class="figure-caption"><p class="h7">{{ dryer.size }} {{ dryer.version }} Dryer<p></figcaption>
                  </figure>
                </div>
              {% endif %}
              {% if dryer.version == 'Improved' %}
                <div class="col align-self-start">
                  <p class="lead"><strong>{{ dryer.size }} {{ dryer.version }} Dryer</strong></p>
                  <p>Area of Drying Chamber: {{ solutions.improved_area|floatformat:"-3" }} square meters (m2)</p>
                  <p>Area of collector: {{ solutions.improved_area|floatformat:"-3" }} square meters (m2)</p>
                  <p>Area of Drying Trays: {{ solutions.surface_area|floatformat:"-3" }} square meters (m2)</p>
                  <p>Number of Chimneys: {{ solutions.chimneys }} chimney(s)</p>
                  <figure class="figure">
                    <img src="{{ dryer.diagram }}" class="figure-img img-fluid rounded" alt="">
                    <figcaption class="figure-caption"><p class="h7">{{ dryer.size }} {{ dryer.version }} Dryer<p></figcaption>
                  </figure>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      <div class="row">
        <form class="col form-vertical" method="post" action="{% url 'area:solar_dryer' %}">
          {% csrf_token %}
          {{ pdf_form|crispy }}
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-info" name="generate-report">Generate Report</button>
          </div>
          <br/>
        </form>
      </div>
    </div>
  {% endif %}
{% endblock content %}
