{% extends "base.html" %}
{% load rest_framework %}


{% block title %}Solar Weather App - API{% endblock %}
{% block content %}
</br>
<form class="vertical" action="{% url 'weatherdata:location' %}" method="post" novalidate>
    {% csrf_token %}
    {% render_form query template_pack='rest_framework/vertical' %}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Fetch Weather Data</button>
        </div>
      </div>
</form>
{% if location.items %}
<h2>Historical Weather Data for {{ location.name }}: {{ weather_values|length }} Previous Days</h2>
<h4>Coordinates: {{ location.latitude }}, {{location.longitude }} </h4>
<h4>Timezone: {{ location.tz }} </h4>
{% if temperature %}
  <h4>Average Temperature: {{ temperature }}</h4>
{% endif %}
{% if windspeed %}
  <h4>Average Windspeed: {{ windspeed }}</h4>
{% endif %}
<table class="table table-hover">
  <thead class="thead-dark">
  <tr>
    {% for metric in weather_metrics %}
      {% if metric.id in columns %}
        <th scope="col"> {{ metric.name }}
          {% if metric.unit %}
            ({{ metric.unit }})
          {% endif %} </th>
      {% endif %}
    {% endfor %}
  </tr>
  </thead>
  <tbody>
    {% for values in weather_values %}
      <tr>
        {% for measure, value in values.items %}
          {% if measure == " Date time" %}
            <td> {{ value }} </td>
          {% elif measure != "location" %}
            <td>{{ value }}</td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock content %}
