{% extends "base.html" %}
{% load rest_framework %}

{% block title %}Solar Weather App - API{% endblock %}
{% block content %}
</br>
<form class="vertical" action="{% url 'weatherdata:location' %}" method="post" novalidate>
    {% csrf_token %}
    {% render_form query template_pack='rest_framework/vertical' %}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Fetch Weather Data</button>
        </div>
      </div>
</form>
{% if location %}
<h2>Weather Data for {{ location.name }}: Last 7 Days</h2>
<h4>Coordinates: {{ location.latitude }}, {{location.longitude }} </h4>
<h4>Timezone: {{ location.tz }} </h4>
<table class="table table-hover">
  <thead class="thead-dark">
  <tr>
    {% for metric in weather_metrics %}
      {% if metric.id in columns %}
        <th scope="col"> {{ metric.name }}
          {% if metric.unit %}
            ({{ metric.unit }})
          {% endif %} </th>
      {% endif %}
    {% endfor %}
  </tr>
  </thead>
  <tbody>
    {% for values in weather_values %}
      <tr>
        {% for measure, value in values.items %}
          <td>{{ value }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

  {% for error, alert in metric_errors %}
  Metric Error: {{ alert }}<br/>
  {% empty %}
  {% endfor %}
  {% for error, alert in value_errors %}
  Value Error: {{ alert }}<br/>
  {% empty %}
  {% endfor %}
{% endif %}
{% endblock content %}
